h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 44px;
    text-align: center;
    color: #483d2e;
}

h2 {
    display: inline-block;
    margin-right: 10px;
    font-size: 18pt;
    color: #483d2e;
}

.title {
    color: black;
}
